root = "."
tmp_dir = "./build"

[build]
  args_bin = []
  bin = "./build/server"
  cmd = "go build -o ./build/server ./cmd/server"
  delay = 1000
  exclude_dir = ["logs"]
  exclude_file = [".editorconfig", ".gitignore", "Makefile"]
  exclude_regex = []
  exclude_unchanged = false
  follow_symlink = false
  full_bin = ""
  include_dir = ["cmd", "config", "internal", "locales", "migrations", "templates", "pkg"]
  include_ext = ["go", "yaml", "json", "html", "sql", "toml"]
  include_file = []
  kill_delay = "0s"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  post_cmd = []
  pre_cmd = []
  rerun = false
  rerun_delay = 500
  send_interrupt = false
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = false

[misc]
  clean_on_exit = false

[proxy]
  app_port = 0
  enabled = false
  proxy_port = 0

[screen]
  clear_on_rebuild = false
  keep_scroll = true